body{
    background-image: url(/image/1.jpg);
    background-repeat: no-repeat;
}
h1{
    background-color: aquamarine;
    color: darkslategray;
    text-align: center;
    width: 75%;
    margin-left: 100px;
}